body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* Media Query para telas com largura máxima de 1024px */
@media (max-width: 1024px) {

    .head {
        max-width: 100%;
        height: auto; /* Altura ajustável para manter a proporção original da imagem */
    }

    .card_body {
        width: 100%; /* Ajusta a largura do card da imagem */
        margin-left: 170px; /* Centraliza o card da imagem na tela */
        margin-right: 50px;
        margin-bottom: 40px;
    }

    .buttons-container {
        margin-top: 40px;
        margin-bottom: 70px;
        margin-left: 70px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;         
    }
    
    .buttons-container button {
        display: block;
        margin-bottom: 10px;
        padding: 19px;
        background-color: #609fdf;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 14px;
        font-size: 22px;
        width: 50%; /* Ajusta a largura dos botões */
        margin: 5px; /* Adiciona margem entre os botões */
    }
    
    .buttons-container2 {
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha se não couberem */
        justify-content: right; /* Distribui os botões uniformemente ao longo do contêiner */
    }
       
    .buttons-container2 button {
        display: block; 
        padding: 14px;
        background-color: #609fdf;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
        width: 30%; /* Ajusta a largura dos botões */
        margin: 5px; /* Adiciona margem entre os botões */
    }

    
    .buttons-container3 {
        margin-top: 30px;
        margin-left: 63px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;       
    }
    
    .buttons-container3 button {
        display: block;
        margin-bottom: 10px;
        padding: 19px;
        background-color: #609fdf;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 14px;
        font-size: 22px;
        width: 50%; /* Ajusta a largura dos botões */
        margin: 5px; /* Adiciona margem entre os botões */
    }

}
